html, body {
  min-height:100%;
}

.container {
  min-height:100%;
}

.nav li:hover a:hover {  
  background-color: black;
  color: white;  
}
/*Set image and padding for each section */
.home {
  background-image: url('http://s11.postimg.org/6ud4xbkqr/congruent_outline.png');
  background-repeat: repeat-xy;
  padding-top: 15%; 
  padding-bottom:15%;
}

.about {
  background-image:url('http://s8.postimg.org/niyqr76o5/ignasi_pattern_s.png');
  background-repeat: repeat-xy;
  padding-bottom:15%;
}

.portfolio {
  background-image: url('http://s13.postimg.org/hetola8xj/skulls.png');
  background-repeat:repeat-xy;
  padding-bottom:15%;   
  text-align: center;  
}

.contact {
  background-image:url('http://s11.postimg.org/6ud4xbkqr/congruent_outline.png');
  background-repeat:repeat-xy;
  padding-bottom:15%;
  padding-top:10%;
}
/*_________________________________________________________________________*/

/*force particular button styling based on responsive sizing*/
.github-button {
  display:inline-block;
}

.github-button:hover {
  background-color: black;
  color: white;
}

.linkedin-button{
  display:inline-block;
}

.linkedin-button:hover {
  background-color: black;
  color: white;
}

.fcc-button {
  display:inline-block;
}

.fcc-button:hover {
  background-color: black;
  color: white;
}

.home-buttons {
  padding-left: 0px;
}
@media (min-width:768px){
.home-buttons li{
  display:inline-block;
}
}
@media (min-width:0px) and (max-width:768px){

  .home-buttons {
    display:block;
  }
  .btn {
    margin:4px;
  }
}

/*_________________________________________________________________________*/
.home-column {
  text-align: center;
}

@media (min-width:0px) and (max-width:768px){
  .home-column > h1 {
    font-size: 2em;
  }
}

.home-column > h1 {
  color: #bfbfbf;
  text-shadow: 2px 2px black;
  font-size: 5em;
}



.about-column {
  padding-top:15%;
}
.about-column h1 {  
  font-weight:bold;
}
.about-column p { 
  font-size:1.5em;
  float:left;
}

.about-column li {  
  font-size:1.5em; 
}

.about-column .language-list {  
  font-size:1.5em;
}

.about-column .language-list ul{
  font-size:0.5em;
}

.about-column .tool-list {
 
  font-size:1.5em;
}

.about-column .tool-list ul {
  font-size:0.5em;
}

.about-img {
  border-radius:50%;
  float:right;
  height:20%;
  width:20%;
}

.detail-list {
  display: block;
  float: left;
  clear: left;  
}
.portfolio-column {
  margin-top: 10%;
}
.portfolio-column h1 {  
  font-weight:bold;
}

#portfolio-items {    
    text-align:center;
}
.portfolio-item {
  margin: 0 0 20px;
  boder: solid 5px green;
}

.portfolio-item a {
  height:100%;
  width:100%;
  display:block;
}






#Contact {   
  text-align: center;
}


#Contact h1 {
  color: white;
  
}

#email {  
  text-decoration:none;
}

.contact-buttons li {
  display:block;
  margin: 2%;
  
}

.contact-buttons {
  padding-left: 0px;
  text-align: center;
}


