html, body {
  min-height:100%;
}

.container {
  min-height:100%;
}

.nav li:hover a:hover {  
  background-color: black;
  color: white;  
}
/*Set image and padding for each section */
.home {
  background-image: url('https://s11.postimg.org/6ud4xbkqr/congruent_outline.png');
  background-repeat: repeat-xy;
  padding-top: 5%; 
  padding-bottom:2%;
}

@media (min-width:0px) and (max-width:768px){
  .home {
    margin-top: 20%;
  }
}

.about {
  background-image:url('https://s8.postimg.org/niyqr76o5/ignasi_pattern_s.png');
  background-repeat: repeat-xy;
  padding-bottom:2%;
}

.portfolio {
  background-image: url('https://s13.postimg.org/hetola8xj/skulls.png');
  background-repeat:repeat-xy;
  padding-bottom:5%;   
  text-align: center;  
}

.contact {
  background-image:url('https://s11.postimg.org/6ud4xbkqr/congruent_outline.png');
  background-repeat:repeat-xy;
  padding-bottom:5%;
  padding-top:5%;
}
/*_________________________________________________________________________*/

/*force particular button styling based on responsive sizing*/
.github-button {
  display:inline-block;
}

.github-button:hover {
  background-color: black;
  color: white;
}

.linkedin-button{
  display:inline-block;
}

.linkedin-button:hover {
  background-color: black;
  color: white;
}

.fcc-button {
  display:inline-block;
}

.fcc-button:hover {
  background-color: black;
  color: white;
}

.home-buttons {
  padding-left: 0px;
}
@media (min-width:768px){
.home-buttons li{
  display:inline-block;
}
}
@media (min-width:0px) and (max-width:768px){

  .home-buttons {
    display:block;
  }
  .btn {
    margin:4px;
  }
}

/*_________________________________________________________________________*/

.home-column {
  text-align: center;
}

.home-column > h1 {
  color: #bfbfbf;
  text-shadow: 2px 2px black;
  font-size: 5em;
}

@media (min-width:0px) and (max-width:768px){
  .home-column > h1 {
    font-size: 2em;
  }

  .home-img-mobile{
    display:block;
    border-radius: 50%;
    width: 50%;
    margin: 0 auto;
  }
}
.home-img {
  border-radius:50%;
  margin:0 auto;
  /*height:20%;*/
  width:20%;
}



#Home {
  text-align: center;
}

.about-column {
  margin: 0 auto;
}


.about-column h1 {  
  font-weight:bold;
  margin:5%;
  text-align: center;
}
.about-column p { 
  font-size:1.5em;
  float:left;
}

.about-column li {  
  font-size:1.5em; 

}

.about-column .language-list {  
  font-size:1.5em;
}

.about-column .language-list ul{
  font-size:0.5em;
}

.about-column .tool-list {
 
  font-size:1.5em;
}

.about-column .tool-list ul {
  font-size:0.5em;
}

.detail-list {
  display: block;
  float: left;
  clear: left;  
  margin-left: 25%;
}

.portfolio-column h1 {  
  font-weight:bold;
  margin: 5%;
}

#portfolio-items {    
    text-align:center;
}
.portfolio-item {
  margin: 0 0 10px;
  
}

.portfolio-item img {
  width:320px;
  height:240px;
}


@media (max-width: 569px){
  #portfolio-items .portfolio-item {
    padding-left:0px;
    padding-right: 0px;
  }

  .portfolio-item img {
    width:100%;  
    text-align:center;
  } 

}


.portfolio-item a {
  height:100%;
  width:100%;
  display:block;
}


#Contact {   
  text-align: center;
}


#Contact h1 {
  color: white;
  
}

#email {  
  text-decoration:none;
}

.contact-buttons li {
  display:block;
  margin: 2%;
  
}

.contact-buttons {
  padding-left: 0px;
  text-align: center;
}


